.productsCard-container{
  position: relative;
  transition: .5s;
  padding: 10px;
  margin: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.borderDark{
  border: 1px solid #ffffff;
}

.borderLight{
  border: 1px solid #000000;
}

.productsCard-container:hover{
  transform: scale(1.1);
}

.navLink{
  text-decoration: none;
}


.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 10px;
    min-width: 150px;
    max-width: 250px;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .product-item {
      margin-right: 0px;
      width: 150px;
    }
  }

  .product_item_image_container{
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 170px;
  }
  
  .productImage {
    width: 140px;
    height: auto;
    max-height: 150px;
    padding: 10px;
  }
  
  .title {
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 100%;
    margin: 0;
    padding-top: 10px;
  }
  
  .category {
    font-size: 12px;
  }
  
  .price {
    font-size: 12px;
    font-weight: bold;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, #8d07a8, #c710be);
    border-radius: 4px;
    padding: 4px 8px;
    height: 20px;
  }
  
  .starImage {
    height: 15px;
    width: 15px;
    margin-bottom: 3px;
  }
  
  .rating {
    font-size: 11px;
    font-weight: 500;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .productDetails {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;

  }
  
  .favoritesButton-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .favoriteButton {
    outline: none;
    border-width: 0px;
    background-color: transparent;
  }
  
  .favoritesButton-container {
    padding: 40px;
    padding-bottom: 0px;
  }
  
  .favIconContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
  }
