.productDetails-container {
    padding: 40px;
  }
  
  .productDetailsItem-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;

  }
  
  @media screen and (max-width: 768px) {
    .productDetailsItem-container {
      flex-direction: column;
    }
  }
  
  .productDetailsImage {
    height: 100%;
    width: 235px;
  }
  
  @media screen and (max-width: 768px) {
    .productDetailsImage {
      width: 300px;
    }
  }
  
  .details-container {
    padding-left: 30px;
    padding-top: 50px;
  }
  
  .productTitle {
    font-size: 25px;
    padding-bottom: 15px;
  }
  
  .productCategory {
    font-size: 20px;
    padding-bottom: 15px;
  }
  
  .productPrice {
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: bold;
  }
  
  .detailsRating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .review{
    padding-left: 15px;
    font-size: 13px;
  }
  
  @media screen and (max-width: 768px) {
    .detailsRating-container {
      width: 13%;
    }
  }
  
  .productDescription {
    font-size: 15px;
  }
  
  .count-container {
    display: flex;
    flex-direction: row;
    /* margin-top: 40px; */
  }
  
  .button {
    background-color: transparent;
    outline: none;
    border-width: 0px;
    cursor: pointer;
  }
  .itemCount {
    font-size: 17px;
    font-family: 'Roboto';
    color: #616e7c;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
  }
  
  .add-cart-button {
    height: 35px;
    width: 120px;
    background-image: linear-gradient(90deg, #8d07a8, #c710be);
    border-width: 0px;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 8px;
    font-size: 12px;
    margin-top: 10px;
  }
  