.filters-container {
    margin-left: 40px;
  }


@media screen and (max-width: 768px){
  .filters-container{
    margin-left: 0px;
  }
}
  
.filter-details-container{
  margin-left: 20px;
}

.filterText{
  height: 13px;
  width: 13px;
}

.filterIcon{
  border-width: 0px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 768px){
  .filterIcon{
    font-size: 10px;
  }
}