.sort-by-select {
    color: #475569;
    background-color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px){
    .sort-by-select{
      font-size: 11px;
    }
  }
    
    .select-option {
      color: #7e858e;
      font-family: 'Roboto';
      font-size: 14px;
    }
  
    @media screen and (max-width: 768px){
      .select-option{
        font-size: 12px;
      }
    }

.filters-heading{
    font-size: 20px;
}